<template>
  <div class="species">
    <div
      v-for="(value, key) in searchData"
      :key="key"
      class="uk-card uk-card-default uk-card-hover card-media-custom"
      @click="callBanner(key, value.image)"
    >
      <div class="uk-card-media-left card-media-img">
        <img :src="value.image" />
      </div>
      <div class="uk-card-body card-media-body">
        <h3 class="uk-card-title uk-text-lead">{{ value.title }}</h3>
      </div>
    </div>
    <detail-banner
      v-if="isActive"
      :id="id"
      :url="url"
      :img="img"
      @closeBanner="closeBanner"
    />
  </div>
</template>

<script>
import SpeciesData from "~/utils/data/SpeciesData.js"
import DetailBanner from "~/components/render/DetailBanner.vue"
import { mapActions } from "vuex"

export default {
  components: {
    DetailBanner
  },
  data() {
    return {
      responseData: "",
      isActive: false,
      id: "",
      url: "",
      img: ""
    }
  },
  methods: {
    ...mapActions(["assignRawdata"]),
    callBanner(id, img) {
      this.isActive = true
      this.url = `species/${id}`
      this.img = img
      this.id = id
    },
    closeBanner(status) {
      this.isActive = status
    }
  },
  computed: {
    searchData() {
      return this.$store.state.searchData
    }
  },
  layout: "HomeLayout",
  created() {
    this.assignRawdata(SpeciesData)
  }
}
</script>
