<template>
  <div class="detail-banner">
    <span
      uk-icon="icon: close; ratio: 2"
      class="banner-close"
      @click="closeBanner()"
    />
    <div class="banner-detail">
      <div class="banner-content">
        <img :src="img" alt="Banner" />
        <div>
          <p
            v-for="(value, key) in responseData"
            v-show="!Array.isArray(value)"
            :key="key"
          >
            {{ key }}: {{ value }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Get } from "~/utils/ApiCall.js"

export default {
  props: {
    id: {
      type: String,
      default: ""
    },
    url: {
      type: String,
      default: ""
    },
    img: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      responseData: ""
    }
  },
  created() {
    Get(this.url).then(res => {
      this.responseData = res
    })
  },
  methods: {
    closeBanner() {
      this.$emit("closeBanner", false)
    }
  }
}
</script>
