<template>
  <div>
    <div class="uk-margin searchbar">
      <form
        class="uk-search uk-search-default"
        @keydown.enter="submitEntry($event)"
      >
        <span uk-search-icon />
        <input
          v-model="queryInput"
          class="uk-search-input"
          type="search"
          placeholder="Search..."
        />
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  data() {
    return {
      queryInput: ""
    }
  },
  computed: {
    rawData() {
      return this.$store.state.rawData
    }
  },
  watch: {
    queryInput() {
      if (Array.isArray(this.rawData)) {
        const filteredDataArr = []
        for (let index = 0; index < this.rawData.length; index++) {
          if (
            this.rawData[index].name
              .toLowerCase()
              .search(this.queryInput.toLowerCase()) > -1
          ) {
            filteredDataArr.push(this.rawData[index])
          }
        }
        this.searching(filteredDataArr)
      } else {
        const filteredDataObj = {}
        for (const property in this.rawData) {
          if (
            this.rawData[property].title
              .toLowerCase()
              .search(this.queryInput.toLowerCase()) > -1
          ) {
            filteredDataObj[property] = this.rawData[property]
          }
        }
        this.searching(filteredDataObj)
      }
    }
  },
  methods: {
    submitEntry(event) {
      event.preventDefault()
    },
    ...mapActions(["searching"])
  }
}
</script>
