<template>
  <ul class="uk-nav uk-nav-default sidebar-body">
    <li class="uk-nav-header">Navigation</li>
    <li :class="{ 'uk-active': this.$route.path.search('/films') > -1 }">
      <nuxt-link tag="a" to="/films">Films</nuxt-link>
    </li>
    <li :class="{ 'uk-active': this.$route.path.search('/locations') > -1 }">
      <nuxt-link tag="a" to="/locations">Locations</nuxt-link>
    </li>
    <li :class="{ 'uk-active': this.$route.path.search('/people') > -1 }">
      <nuxt-link tag="a" to="/people">People</nuxt-link>
    </li>
    <li :class="{ 'uk-active': this.$route.path.search('/species') > -1 }">
      <nuxt-link tag="a" to="/species">Species</nuxt-link>
    </li>
    <li :class="{ 'uk-active': this.$route.path.search('/vehicles') > -1 }">
      <nuxt-link tag="a" to="/vehicles">Vehicles</nuxt-link>
    </li>
  </ul>
</template>
