.detail-banner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #31313191;
  .banner-close {
    color: #633333;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 101;
    cursor: pointer;
  }
  .banner-detail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-content {
      display: flex;
      background: white;
      max-height: 300px;
      max-width: 700px;
      img {
        object-fit: contain;
        background: black;
      }
      div {
        overflow-y: scroll;
        padding: 25px;
      }
    }
  }
}