@sidebarWidth: 250px;
@sidebarHeight: 100vh;
@sidebarBackground: #f9f9f9;

@maincontentWidth: 100%;

@cardMargin: 10px;

.card-media-custom {
  display: flex;
  width: 340px;
  height: 230px;
  margin: @cardMargin;
  cursor: pointer;
  .card-media-img {
    background: black;
    img {
      width: 150px;
      height: 100%;
      object-fit: contain;
      max-width: none !important;
    }
  }
  .card-media-body {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
    }
  }
}