.layout {
  display: flex;
  .sidebar {
    width: @sidebarWidth;
    height: @sidebarHeight;
    background:@sidebarBackground;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .sidebar-body {
      padding: 20px 0px 0px 30px;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    .body-content {
      flex: 1;
      padding: 0px 10px;
      z-index: 10;
    }
  }
}