<template>
  <div class="location">
    <div
      v-for="(value, key) in searchData"
      :key="key"
      class="uk-card uk-card-default uk-card-hover card-media-custom"
      @click="callBanner(value.id, img)"
    >
      <div class="uk-card-media-left card-media-img"><img :src="img" /></div>

      <div class="uk-card-body card-media-body">
        <h3 class="uk-card-title uk-text-lead">{{ value.name }}</h3>
      </div>
    </div>
    <detail-banner
      v-if="isActive"
      :id="id"
      :url="url"
      :img="img"
      @closeBanner="closeBanner"
    />
  </div>
</template>

<script>
import ApiMix from "~/components/mixins/ApiMix.js"
import DetailBanner from "~/components/render/DetailBanner.vue"
import { mapActions } from "vuex"

export default {
  components: {
    DetailBanner
  },
  data() {
    return {
      isActive: false,
      id: "",
      url: "",
      img:
        "https://vignette.wikia.nocookie.net/studio-ghibli/images/8/8b/Sanny.jpg/revision/latest?cb=20140101182911"
    }
  },
  layout: "HomeLayout",
  methods: {
    ...mapActions(["assignRawdata"]),
    callBanner(id, img) {
      this.isActive = true
      this.url = `locations/${id}`
      this.img = img
      this.id = id
    },
    closeBanner(status) {
      this.isActive = status
    }
  },
  computed: {
    searchData() {
      return this.$store.state.searchData
    }
  },
  mixins: [ApiMix("GET", "locations")],
  watch: {
    responseData() {
      this.assignRawdata(this.responseData)
    }
  }
}
</script>
