<template>
  <div class="layout">
    <section class="sidebar">
      <img src="~/assets/img/ghibli-logo.svg" alt="Ghibli Logo" /> <sidebar />
    </section>
    <section class="main-content">
      <section class="searchbar"><searchbar /></section>
      <section class="body-content"><nuxt /></section>
    </section>
  </div>
</template>

<script>
import Sidebar from "~/components/render/Sidebar.vue"
import Searchbar from "~/components/render/Searchbar.vue"

export default {
  components: {
    Sidebar,
    Searchbar
  }
}
</script>
