<template>
  <div />
</template>

<script>
import ApiMix from "~/components/mixins/ApiMix.js"

export default {
  mixins: [ApiMix("GET", "https://ghibliapi.herokuapp.com/locations")],
  layout: "HomeLayout",
  mounted() {
    this.$router.replace({ path: "/films" })
  }
}
</script>
